<!--Turbo frame para no recargar la página todo el rato-->
<%= turbo_frame_tag 'products' do %>
  <h1><%= t('.title') %></h1>

  <%= form_with url: products_path, method: :get do | form | %>
    <%= form.number_field :min_price, placeholder: t('.min_price'),
    onChange: 'this.form.requestSubmit()', value: params[:min_price]%>
    <%= form.number_field :max_price, placeholder: t('.max_price'),
    onChange: 'this.form.requestSubmit()',value: params[:max_price]%>
    <%= form.text_field :title, placeholder: t('.search'),
    onChange: 'this.form.requestSubmit()', value: params[:title]%>
    <%= form.select :order_by, options_for_select(Product::ORDER_BY.keys.map { |order| [t(".#{order}"),order] },params[:order_by]), {}, {onChange: 'this.form.requestSubmit()'}%>
  <%end %>
  <%= link_to t('.all'), products_path %>
  <%= render partial: 'category', collection: @categories %>
  <div class="products">
    <%= render partial: 'product', collection: @products %>
  </div>
  <!--Renderizamos el partial _product.html.erb pasandole el array de
  productos, cada producto se itera por el nombre del partial, es decir, product-->
<% end %>
